div.a {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
z-index:20;
}

div.a2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.a3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.a4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.a5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.a6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}

div.c {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
}

div.c2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.c3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.c4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.c5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.c6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}

div.d {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
}

div.d2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.d3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.d4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.d5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.d6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}

div.e {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
}

div.e2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.e3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.e4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.e5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.e6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}

div.f {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
}

div.f2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.f3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.f4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.f5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.f6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}

div.g {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
}

div.g2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.g3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.g4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.g5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.g6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}


div.b {
width: 80px;
height:80px;
background: url('gems/emrldgem.png');
position:fixed;
}

div.b2 {
width: 80px;
height:80px;
background: url('gems/blkgem.png');
position:fixed;
}

div.b3 {
width:80px;
height:80px;
background: url('gems/pixelgem.png');
position:fixed;
}

div.b4 {
width: 80px;
height:80px;
background: url('gems/yellowgem.png');
position:fixed;
}

div.b5 {
width: 80px;
height:80px;
background: url('gems/seagem.png');
position:fixed;
}

div.b6 {
width:80px;
height:80px;
background: url('gems/pinkgem.png');
position:fixed;
}